#jinja2: lstrip_blocks: True
{% if site.value.upstream is defined %}

upstream {{ site.key }} {
  # Path to Puma SOCK file, as defined previously
  # server unix:/tmp/sockets/api-gateway/puma.sock fail_timeout=0;
  server {{ site.value.upstream }};
}
{% endif %}

server {
  listen 80;
  server_name  {{ site.value.server_name }};

{% if site.value.upstream is defined %}
  location / {
    proxy_pass http://{{ site.key }};
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
  }
}
{% endif %}
