name: {{ project_name }}-ansible
root: {{ playbook_dir }}

windows:
  - ansible:
      layout: even-horizontal
      panes:
        - pwd
  - prepd-roles:
      layout: main-horizontal
      root: /usr/share/ansible/roles/prepd
      panes:
        - pwd
  - prepd-roles2:
      layout: main-horizontal
      root: /usr/share/ansible/roles/prepd
      panes:
        - pwd
  - prepd-ansible:
      layout: main-horizontal
      root: ~/prepd/app/ansible
      panes:
        - pwd
  - prepd-roles3:
      layout: main-horizontal
      root: /usr/share/ansible/roles/prepd
      panes:
        - pwd
  - prepd-roles4:
      layout: main-horizontal
      root: /usr/share/ansible/roles/prepd
      panes:
        - pwd
