[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = node0.local
DNS.2 = node1.local
DNS.3 = node2.local
DNS.4 = local
DNS.5 = {{ kubernetes_subdomain }}
DNS.6 = {{ kubernetes_subdomain }}.{{ kubernetes_domain }}
DNS.7 = {{ kubernetes_subdomain }}.{{ kubernetes_domain }}.{{ kubernetes_tld }}
IP.1 = {{ kubernetes_service_ip }}
IP.2 = {{ hostvars[groups['controller'][0]]['ansible_' + iface].ipv4.address }}
IP.3 = {{ hostvars[groups['worker'][0]]['ansible_' + iface].ipv4.address }}
IP.4 = 10.32.0.1
IP.5 = 10.32.0.10
IP.6 = 127.0.0.1
