# API Server
variable "api_server_application" {}
variable "api_server_component" {}
variable "api_server_environment" {}
variable "api_server_instance_type" {}
variable "api_server_key_name" {}
variable "api_server_region" {}
variable "api_server_resource" {}
variable "api_server_service" {}

# module "app-server-with-elb" {
module "{{ component }}" {
  source                  = "{{ modules_path }}/aws/app-server-with-elb"

  # Instance parameters
  application             = "${var.api_server_application}"
  component               = "${var.api_server_component}"
  environment             = "${var.api_server_environment}"
  key_name                = "${var.api_server_key_name}"
  instance_type           = "${var.api_server_instance_type}"
  region                  = "${var.api_server_region}"
  resource                = "${var.api_server_resource}"
  service                 = "${var.api_server_service}"

  security_group_elb_id   = "${data.terraform_remote_state.sg.security_group_elb_id}"
  server_cert_arn         = "${data.terraform_remote_state.iam.server_cert_arn}"
  subnet_id               = "${data.terraform_remote_state.vpc.subnet_id_public_1}"
  vpc_id                  = "${data.terraform_remote_state.vpc.vpc_id}"
  vpc_security_group_ids  = "${data.terraform_remote_state.vpc.security_group_id_public}"
}

output "dns_name" {
  value = "${module.{{ component }}.dns_name}"
}

output "zone_id" {
  value = "${module.{{ component }}.zone_id}"
}
