# API Server
variable "api_server_application" {}
variable "api_server_environment" {}
variable "api_server_instance_type" {}
variable "api_server_public_key" {}
variable "api_server_region" {}

module "app-server-with-elb" {
  source                  = "../../../../modules/aws/app-server-with-elb"

  # Instance parameters
  application             = "${var.api_server_application}"
  environment             = "${var.api_server_environment}"
  instance_type           = "${var.api_server_instance_type}"
  public_key              = "${var.api_server_public_key}"
  region                  = "${var.api_server_region}"
  server_cert_arn         = "${data.terraform_remote_state.global-iam.server_cert_arn}"
  subnet_id               = "${module.vpc.subnet_id}"
  vpc_id                  = "${module.vpc.vpc_id}"
  vpc_security_group_ids  = "${module.vpc.vpc_security_group_ids}"
}

# output "dns_name" {
#   value = "${module.app-server-with-elb.dns_name}" 
# }
# 
# output "zone_id" {
#   value = "${module.app-server-with-elb.zone_id}" 
# }
