# Create a Bastion Host in the VPC public subnet

variable "bastion_availability_zone" {}
variable "bastion_cidr" {}
variable "bastion_component" {}
variable "bastion_environment" {}
variable "bastion_key_name" {}
variable "bastion_region" {}
variable "bastion_resource" {}
variable "bastion_service" {}
variable "bastion_subnet_az_public" {}

module "bastion-host" {
  source          = "{{ modules_path }}/aws/ec2/bastion-host"

  availability_zone = "${var.bastion_availability_zone}"
  bastion_cidr      = "${var.bastion_cidr}"
  component         = "${var.bastion_component}"
  environment       = "${var.bastion_environment}"
  # instance_type     = "${var.bastion_instance_type}"
  key_name          = "${var.bastion_key_name}"
  region            = "${var.bastion_region}"
  resource          = "${var.bastion_resource}"
  service           = "${var.bastion_service}"
  subnet_az_public  = "${var.bastion_subnet_az_public}"

  sg_bastion_id     = "${data.terraform_remote_state.vpc.sg_bastion_id}"
  subnet_public_id  = "${data.terraform_remote_state.vpc.subnet_public_id}"
  vpc_id            = "${data.terraform_remote_state.vpc.vpc_id}"
}
