# Create Route53 hostname

variable "hostname_name" {}

module "hostname" {
  source        = "{{ modules_path }}/aws/hostname"

  # NOTE: The certificate is only good for the root domain so create hostname in the primary zone
  zone_id       = "${data.terraform_remote_state.domain.zone_id}"
  name          = "${var.hostname_name}"

  alias_name    = "${data.terraform_remote_state.host.dns_name}"
  alias_zone_id = "${data.terraform_remote_state.host.zone_id}"
}
