### Provider Credentials
{%- for provider in providers %}

aws_access_key_id_{{ provider.label }} = "{{ provider.aws_access_key_id }}"
aws_secret_access_key_{{ provider.label }} = "{{ provider.aws_secret_access_key }}"
{% endfor %}
