### Remote Data Sources

variable "tf_remote_state_bucket" {}
variable "tf_remote_state_region" {}
variable "tf_remote_state_environment" {}
variable "tf_resource" {
  default = "not used"
}

{% for item in remote_states %}
data "terraform_remote_state" "{{ item | replace('/', '-') }}" {
  backend = "s3"
  config {
    bucket = "${var.tf_remote_state_bucket}"
{% if item.startswith('global') %}
    key    = "{{ item }}/terraform.tfstate"
{% else %}
{% set list1 = item.split('/') %}
{% if list1 | length == 1 %}
    key    = "{{ service }}/${var.tf_remote_state_environment}/${var.tf_resource}/{{ item }}/terraform.tfstate"
{% else %}
    key    = "{{ service }}/${var.tf_remote_state_environment}/{{ item }}/terraform.tfstate"
{% endif %}
{% endif %}
    region = "${var.tf_remote_state_region}"
  }
}
{% endfor %}
