# Ember application's S3 bucket parameters
variable "web_app_allowed_hosts" {}
variable "web_app_api_url" {}
variable "web_app_application" {}
variable "web_app_app_host" {}
variable "web_app_credentials_file" {}
variable "web_app_environment" {}
variable "web_app_iam_user_name" {}
variable "web_app_region" {}

module "s3-website" {
  source           = "{{ modules_path }}/aws/s3-website"

  allowed_ip       = "${var.web_app_allowed_hosts}"
  api_url          = "${var.web_app_api_url}"
  application      = "${var.web_app_application}"
  bucket_name      = "${var.web_app_app_host}"
  credentials_file = "${var.web_app_credentials_file}"
  environment      = "${var.web_app_environment}"
  iam_user_name    = "${var.web_app_iam_user_name}"
  region           = "${var.web_app_region}"
}

output "dns_name" {
  value = "${module.s3-website.dns_name}"
}

output "zone_id" {
  value = "${module.s3-website.zone_id}"
}
