# Subdomain for the exclusive use of this application
# Dependencies
# global_route53 remote state

variable "subdomain_name" {}


module "subdomain" {
  source                = "{{ modules_path }}/aws/subdomain"

  # Parameters
  name           = "${var.subdomain_name}"
{#
  parent_zone_id = "${data.terraform_remote_state.{{ subdomain.remote_state }}.{{ subdomain.prefix }}zone_id}"
#}
  parent_zone_id = "${data.terraform_remote_state.domain.{{ csubdomain.prefix }}zone_id}"
}

output "zone_id" {
  value = "${module.subdomain.zone_id}"
}
