# VPC for the exclusive use of this application
variable "vpc_tag_name" {}
variable "vpc_subnet_az_public" {}
variable "vpc_subnet_az_private" {}

# variable "bastion_cidr" {}

module "vpc" {
  source                = "{{ modules_path }}/aws/vpc/public-private-vpn"

  vpc_tag_name      = "${var.vpc_tag_name}"
  subnet_az_public  = "${var.vpc_subnet_az_public}"
  subnet_az_private = "${var.vpc_subnet_az_private}"
}


output "sg_bastion_id" {
  value = "${module.vpc.sg_bastion_id}"
}

output "subnet_public_id" {
  value = "${module.vpc.subnet_public_id}"
}

output "vpc_id" {
  value = "${module.vpc.vpc_id}"
}
