### Dynamic Environments
# EDITING OK - WILL NOT BE OVERWRITTEN {{ ansible_managed }}
{% set underscore_env = item | replace('-', '_') %}

[tag_Environment_{{ underscore_env }}]
# always include localhost so we can run playbooks against this inventory and apply the appropriate group_vars
provisioner ansible_host=localhost ansible_connection=local

[{{ item }}:children]
tag_Environment_{{ underscore_env }}

[{{ item }}:vars]
infrastructure_env={{ underscore_env }}
