name: {% item %}
root:  ~/{% item %}

windows:
  - console:
      layout: main-vertical
      root: ~/<%= @settings[:project_name] %>/<%= @settings[:project_name] %>-api
      panes:
        - rails console
  - servers:
      layout: main-vertical
      panes:
        - cd <%= @settings[:project_name] %>-api && rails server -b 0.0.0.0
        - cd <%= @settings[:project_name] %>-app && ember serve
  - rails:
      layout: main-horizontal
      panes:
        - cd <%= @settings[:project_name] %>-api
  - ember-pods:
      layout: main-horizontal
      panes:
        - cd <%= @settings[:project_name] %>-app
  - ember:
      layout: main-horizontal
      panes:
        - cd <%= @settings[:project_name] %>-app
  - data:
      layout: main-horizontal
      root: ~/prepd/data/<%= @settings[:project_name] %>
      panes:
        -
